.idea
.vscode
*.swp
*.swo
*~
.DS_Store

.git
.gitignore

bin/
build/
dist/
*.out
*.exe
*.test

*.a
*.o
*.so
*.test
/vendor/
coverage*
profile.out

*.dockerfile
docker-compose*.yml
.dockerignore

.env
.env.local
.env.dev
.env.test
.env.production
.env.docker

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

migrations_gen_tmp/
tmp/
logs/