basePath: /api
definitions:
  innotech_internal_storage_postgres.MessageAttachment:
    properties:
      chat_id:
        type: integer
      date_created:
        type: string
      date_updated:
        type: string
      file_path:
        type: string
      file_type:
        type: string
      id:
        type: integer
      uploaded_by:
        type: string
    type: object
  innotech_internal_storage_postgres.Ticket:
    properties:
      assigned_to:
        type: string
      contract_id:
        type: integer
      created_by:
        type: string
      date_created:
        type: string
      date_updated:
        type: string
      gitlab_issue_url:
        type: string
      id:
        type: integer
      mattermost_thread_url:
        type: string
      message:
        type: string
      module_id:
        type: integer
      project_id:
        type: integer
      status:
        type: string
      title:
        type: string
    type: object
  innotech_internal_storage_postgres.TicketAttachment:
    properties:
      date_created:
        type: string
      date_updated:
        type: string
      description:
        type: string
      file_path:
        type: string
      file_type:
        type: string
      id:
        type: integer
      ticket_id:
        type: integer
      uploaded_by:
        type: string
    type: object
  innotech_internal_storage_postgres.TicketChat:
    properties:
      date_created:
        type: string
      date_updated:
        type: string
      id:
        type: integer
      mattermost_message_id:
        type: string
      message:
        type: string
      message_type:
        type: string
      sender_id:
        type: string
      sender_role:
        type: string
      ticket_id:
        type: integer
    type: object
  innotech_internal_storage_transport.CreateMessageAttachmentDTO:
    properties:
      chat_id:
        type: integer
      file_path:
        type: string
      file_type:
        type: string
      uploaded_by:
        type: string
    required:
    - chat_id
    - file_path
    - uploaded_by
    type: object
  innotech_internal_storage_transport.CreateTicketAttachmentDTO:
    properties:
      description:
        type: string
      file_path:
        type: string
      file_type:
        type: string
      ticket_id:
        type: integer
      uploaded_by:
        type: string
    required:
    - file_path
    - ticket_id
    - uploaded_by
    type: object
  innotech_internal_storage_transport.CreateTicketChatDTO:
    properties:
      mattermost_message_id:
        type: string
      message:
        minLength: 1
        type: string
      message_type:
        enum:
        - text
        - file
        - system
        type: string
      sender_id:
        type: string
      sender_role:
        enum:
        - customer
        - manager
        - developer
        - tester
        type: string
      ticket_id:
        type: integer
    required:
    - message
    - sender_id
    - sender_role
    - ticket_id
    type: object
  innotech_internal_storage_transport.CreateTicketDTO:
    properties:
      assigned_to:
        type: string
      contract_id:
        type: integer
      created_by:
        type: string
      gitlab_issue_url:
        type: string
      mattermost_thread_url:
        type: string
      message:
        type: string
      module_id:
        type: integer
      project_id:
        type: integer
      status:
        enum:
        - open
        - in_progress
        - resolved
        - closed
        type: string
      title:
        maxLength: 255
        minLength: 3
        type: string
    required:
    - contract_id
    - created_by
    - message
    - project_id
    - title
    type: object
  innotech_internal_storage_transport.UpdateMessageAttachmentDTO:
    properties:
      file_path:
        type: string
      file_type:
        type: string
    type: object
  innotech_internal_storage_transport.UpdateTicketAttachmentDTO:
    properties:
      description:
        type: string
      file_path:
        type: string
      file_type:
        type: string
    type: object
  innotech_internal_storage_transport.UpdateTicketChatDTO:
    properties:
      message:
        minLength: 1
        type: string
      message_type:
        enum:
        - text
        - file
        - system
        type: string
    type: object
  innotech_internal_storage_transport.UpdateTicketDTO:
    properties:
      assigned_to:
        type: string
      gitlab_issue_url:
        type: string
      mattermost_thread_url:
        type: string
      message:
        type: string
      status:
        enum:
        - open
        - in_progress
        - resolved
        - closed
        type: string
      title:
        maxLength: 255
        minLength: 3
        type: string
    required:
    - message
    - status
    - title
    type: object
  internal_contract.Contract:
    properties:
      client_name:
        type: string
      date_created:
        type: string
      date_updated:
        type: string
      description:
        type: string
      end_date:
        type: string
      id:
        type: integer
      project_id:
        type: integer
      start_date:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@innotech.ru
    name: API Support
  description: API для управления проектами, тикетами и документацией
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: FeedbackLab API
  version: "0.1"
paths:
  /api/contracts:
    get:
      description: Returns all contracts
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/internal_contract.Contract'
            type: array
      summary: Get all contracts
      tags:
      - Contracts
    post:
      consumes:
      - application/json
      parameters:
      - description: Contract Data
        in: body
        name: contract
        required: true
        schema:
          $ref: '#/definitions/internal_contract.Contract'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/internal_contract.Contract'
      summary: Create a new contract
      tags:
      - Contracts
  /api/contracts/{id}:
    delete:
      parameters:
      - description: Contract ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: Delete contract
      tags:
      - Contracts
    get:
      description: Returns a single contract by its ID
      parameters:
      - description: Contract ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_contract.Contract'
      summary: Get contract by ID
      tags:
      - Contracts
    put:
      consumes:
      - application/json
      parameters:
      - description: Contract ID
        in: path
        name: id
        required: true
        type: integer
      - description: Updated Contract Data
        in: body
        name: contract
        required: true
        schema:
          $ref: '#/definitions/internal_contract.Contract'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_contract.Contract'
      summary: Update existing contract
      tags:
      - Contracts
  /health:
    get:
      description: возвращает статус OK
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: проверка здоровья сервиса
      tags:
      - Health
  /message_attachments/:
    post:
      consumes:
      - application/json
      parameters:
      - description: Attachment
        in: body
        name: attachment
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.CreateMessageAttachmentDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.MessageAttachment'
      summary: создать вложение сообщения
      tags:
      - MessageAttachments
  /message_attachments/{id}:
    delete:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: удалить вложение
      tags:
      - MessageAttachments
    get:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.MessageAttachment'
      summary: получить вложение по ID
      tags:
      - MessageAttachments
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: Attachment
        in: body
        name: attachment
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.UpdateMessageAttachmentDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.MessageAttachment'
      summary: обновить вложение
      tags:
      - MessageAttachments
  /message_attachments/chat/{chat_id}:
    get:
      parameters:
      - description: Chat ID
        in: path
        name: chat_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/innotech_internal_storage_postgres.MessageAttachment'
            type: array
      summary: получить все вложения по chat_id
      tags:
      - MessageAttachments
  /ticket_attachments/:
    post:
      consumes:
      - application/json
      parameters:
      - description: Attachment
        in: body
        name: attachment
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.CreateTicketAttachmentDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketAttachment'
      summary: создать вложение тикета
      tags:
      - TicketAttachments
  /ticket_attachments/{id}:
    delete:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: удалить вложение
      tags:
      - TicketAttachments
    get:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketAttachment'
      summary: получить вложение по ID
      tags:
      - TicketAttachments
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: Attachment
        in: body
        name: attachment
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.UpdateTicketAttachmentDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketAttachment'
      summary: обновить вложение
      tags:
      - TicketAttachments
  /ticket_attachments/ticket/{ticket_id}:
    get:
      parameters:
      - description: Ticket ID
        in: path
        name: ticket_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/innotech_internal_storage_postgres.TicketAttachment'
            type: array
      summary: получить все вложения тикета
      tags:
      - TicketAttachments
  /ticket_chats/:
    post:
      consumes:
      - application/json
      parameters:
      - description: Chat
        in: body
        name: chat
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.CreateTicketChatDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketChat'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: создание сообщения тикета
      tags:
      - TicketChats
  /ticket_chats/{id}:
    delete:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: удалить сообщение
      tags:
      - TicketChats
    get:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketChat'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: получить сообщение по ID
      tags:
      - TicketChats
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: Chat
        in: body
        name: chat
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.UpdateTicketChatDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.TicketChat'
      summary: обновить сообщение
      tags:
      - TicketChats
  /ticket_chats/ticket/{ticket_id}:
    get:
      parameters:
      - description: Ticket ID
        in: path
        name: ticket_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/innotech_internal_storage_postgres.TicketChat'
            type: array
      summary: получить все сообщения тикета
      tags:
      - TicketChats
  /tickets:
    post:
      consumes:
      - application/json
      parameters:
      - description: Ticket
        in: body
        name: ticket
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.CreateTicketDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.Ticket'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: создать тикет
      tags:
      - Tickets
  /tickets/:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.Ticket'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: получить все тикеты
      tags:
      - Tickets
  /tickets/{id}:
    delete:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: удалить тикет
      tags:
      - Tickets
    get:
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.Ticket'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: получить тикет по ID
      tags:
      - Tickets
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: Ticket
        in: body
        name: ticket
        required: true
        schema:
          $ref: '#/definitions/innotech_internal_storage_transport.UpdateTicketDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/innotech_internal_storage_postgres.Ticket'
      summary: обновить тикет
      tags:
      - Tickets
schemes:
- http
- https
swagger: "2.0"
